name: Build (clang-cl on Windows)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download and Setup Custom CMake
        shell: bash
        run: |
          # Download the archive
          curl -L "https://github.com/Silverlan/CMake/releases/download/2025-12-22/windows_x64.tar.xz" -o cmake.tar.xz
          
          # Extract the archive
          tar -xf cmake.tar.xz
          
          # Add the bin directory to GITHUB_PATH so it's the default for subsequent steps
          # $GITHUB_WORKSPACE is the absolute path to your current directory
          echo "$GITHUB_WORKSPACE/cmake.git-Windows-X64/bin" >> $GITHUB_PATH

      - name: Setup Visual Studio Developer Prompt
        if: ${{ runner.os == 'Windows' }}
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64

      - name: Download LLVM
        shell: bash
        run: |
          echo "Downloading LLVM..."
          curl -LO https://github.com/llvm/llvm-project/releases/download/llvmorg-21.1.8/clang+llvm-21.1.8-x86_64-pc-windows-msvc.tar.xz

      - name: Extract LLVM
        shell: bash
        run: |
          echo "Extracting LLVM..."
          tar -xf clang+llvm-21.1.8-x86_64-pc-windows-msvc.tar.xz
          
          mv clang+llvm-21.1.8-x86_64-pc-windows-msvc llvm

      - name: Configure with CMake
        shell: bash
        run: |
          root=$PWD
          mkdir build
          cd build
          cmake -G "Ninja" -DCMAKE_BUILD_TYPE=Release -S .. -DCMAKE_INSTALL_PREFIX:PATH=../install -DCMAKE_C_COMPILER="$root/llvm/bin/clang.exe" -DCMAKE_CXX_COMPILER="$root/llvm/bin/clang++.exe" -DCMAKE_CXX_SCAN_FOR_MODULES=1

      - name: Build
        shell: bash
        run: |
          cmake --build .

      - name: Run executable (Release)
        shell: bash
        run: |
          ./build/Release/sample.exe
